@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
  }
}

/* Hide scrollbar for all browsers */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* react-calendar overrides */
.booked-tile {
  background-color: #f87171 !important;
  color: white !important;
  border-radius: 0.375rem;
}

.react-calendar__tile--disabled.booked-tile {
  background-color: #f87171 !important;
  color: white !important;
  opacity: 1 !important;
}